html{
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    background: url('pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(225, 100%, 94%);
}

.conteudo-principal{
    width: 400px;
    height: 600px;
    margin: 150px auto 0; 
    border-radius: 25px;
    background: white;
}

.icon-hero{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.descricao{
    text-align: center;
    margin: 0 auto;
}

.descricao p{
    width: 80%;
    margin: 0 auto;
    color: rgb(169, 169, 250);
    font-size: 16px;
}

.plano-venda{
    border-radius: 15px;
    display: inline-flex;
    background-color: hsl(224, 71%, 96%);
    opacity: 0.8;
    width: 80%;
    height: 15%;
    margin: 20px 0 0 40px;  
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center; 
}

.valor-plano{
    width: 35%;  
    height: 85%;
    padding-right: 30px;
}

.valor-plano h3{
    height: 10%;
}

.valor-plano p{
    height: 10%;
}

.alterar-plano p{
    font-weight: bold;
    color: blue;
}

#btn-proceed{
    display: block;
    margin: 30px auto 15px;
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 7%;
    background-color: rgb(53, 11, 238);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#btn-proceed:hover{
    background: rgb(82, 64, 240);
}

#btn-cancel{
    display: block;
    margin: 10px auto 10px; 
    width: 80%;
    height: 7%;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: gray;
    font-weight: bold;   
    cursor: pointer; 
}

#btn-cancel:hover{
    color: black;
}

@media screen and (max-width: 375px) {
    body, .conteudo-principal, .plano-venda, .valor-plano{
        width: auto;
    }
    .conteudo-principal{
        margin: 10px auto 10px;
    }
}